@media (min-width: 499px) {
    .container {
        max-width: 540px
    }
}
@media (min-width: 768px) {
    h3 {
        font-size: 16px;
    }
    .container {
        max-width: 720px
    }
    /*********************NAVBAR*************/
    .navbar-brand {
        width: 40%;
    }

    .navbar-links {
        width: 60%;
    }
    /*********************JUST RELAX*************/
    .gear-background .gear-img {
        margin: 6.8% 10%;
    }
    .gear-background .just-relax-section {
        width: 70%;
    }
    /*********************LATEST PROJECTS*************/
    .latest-projects .content {
        width: 65%;
    }
    /*********************culture & Values************/
    .values-section .icons-area .divider {
        margin: 0 15px;
        max-width: 130px;
    }
    /*********************Contact***********/
    .contact-section .contact-title {
        font-size: 28px;
    }
}

@media (min-width: 992px) {
    .container {
        /*max-width: 960px*/
        max-width: 850px
    }
    /*********************JUST RELAX*************/
    .gear-background .gear-img {
        margin: 6.8% 10%;
    }
    .gear-background .just-relax-section {
        width: 70%;
    }
    /*********************culture & Values************/
    .values-section .icons-area .divider {
        margin: 0 20px;
        max-width: 170px;
    }
}

@media (max-width: 1288px) and (min-width: 1200px) {
    .container {
        /*max-width: 1140px*/
        max-width: 1060px
    }
    /*********************JUST RELAX*************/
    .gear-background .gear-img {
        margin: 6.8% 9%;
    }
    .gear-background .just-relax-section {
        width: 75%;
    }
}
@media (min-width: 1288px) {
    .container {
        max-width: 1060px
    }
    .gear-background .gear-img {
        margin: 6.8% 19%;
    }
    .gear-background .just-relax-section {
        width: auto;
    }
}