body {
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, button, a {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: 0;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
}

.container-half-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 1060px;
    margin-left: auto;
    margin-right: 0;
    padding-left: 70px;
    padding-right: 0;
}