/*********************OUR AWESOME CLIENTS***********/
.clients-section .flex-row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.clients-section .flex-row img {
    width: 200px;
}

.clients-section .client-say {
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
}

.clients-section .client-one:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #f9f9f9;
    border-bottom: 15px solid transparent;
    left: -15px;
    top: 41%;
}

.clients-section .client-two:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #f9f9f9;
    border-bottom: 15px solid transparent;
    right: -15px;
    top: 41%;
}

.clients-section .client-say blockquote {
    font-size: 20px;
    color: #777777;
}