
/*********************Contact***********/

.contact-section {
    background-color: #7cc576;
}

.contact-section .contact-title {
    color: white;
    font-size: 40px;
    margin-top: 0;
    text-transform: uppercase;
}

.contact-section .contact-btn {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    cursor: pointer;
}

.contact-section .contact-btn:hover {
    background-color: #ffffff;
    color: #7cc576;
}
