/********************copyright section**************/
.copyright-section .flex-row {
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.copyright-section ul.social-network {
    margin-left: 10%;
}

.copyright-section ul.social-network li {
    display: inline;
    margin: 0 5px;
    padding: 20px;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 50%;
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.copyright-section ul.social-network .twitter-icon:hover {
    background-color: #00aced;
    border: 1px solid #00aced;
}

.copyright-section ul.social-network .facebook-icon:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
}

.copyright-section ul.social-network .pinterest-icon:hover {
    background-color: #cb2028;
    border: 1px solid #cb2028;
}

.copyright-section ul.social-network .google-plus-icon:hover {
    background-color: #da2713;
    border: 1px solid #da2713;
}

.copyright-section ul.social-network li img {
    width: 20px;
    height: 20px;
}