
/*********************culture & Values************/
.values-section {
    background-color: #f9f9f9;
}

.values-section .grey-circle {
    padding: 15px;
    border: 3px solid #777777;
    border-radius: 50%;
}

.values-section .grey-circle img {
    width: 40px;
    height: 40px;
}

.values-section .icons-area {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.values-section .icons-area .divider {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-bottom: 2px solid #777777;
    margin: 0 59px;
    height: 1px;
    max-width: 190px;
}