/*********************Footer***********/
footer {
    background-color: #222222;
}

footer .main-col {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    height: 100%;
    width: 33%;
}

footer .contact-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .contact-info img {
    margin-right: 10px;
}

footer .contact-info p {
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    color: #ececec;
}

footer .contact-info p:hover {
    color: #7cc576;
}

footer .contact-info a, footer .contact-info strong {
    color: #ececec;
}

footer .contact-info time {
    color: #aaaaaa;
}
