
/*********************JUST RELAX*************/
.gear-background {
    background-color: #e9e9e9;
    position: relative;
}

.gear-background .gear-img {
    margin: 6.8% 19%;
}

.gear-background .just-relax-section {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
}

.gear-background .just-relax-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.6%;
    background-color: rgba(0, 0, 0, .5);
}

.gear-background .just-relax-section .just-relax-content {
    position: absolute;
    top: 5%;
    left: 10%;
}

.gear-background .just-relax-section .just-relax-content .subtitle {
    width: 55%;
}

.gear-background .just-relax-section .just-relax-content .flex-row {
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gear-background .just-relax-section .just-relax-content .checkmark-circle {
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 2%;
}
