
/*********************LATEST PROJECTS*************/
.latest-projects {
    background: url("./../../../resources/images/Tablet.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.latest-projects .content {
    width: 50%;
    margin-top: 80px;
}

.latest-projects .content .flex-col {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.latest-projects .project-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #222222;
}

.latest-projects .project-circle {
    padding: 10px;
    border: 3px solid #222222;
    border-radius: 50%;
    margin-right: 2%;
}

.latest-projects .project-circle img {
    width: 35px;
    height: 30px;
}

.latest-projects a {
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.latest-projects a:hover {
    color: #222222;
}
