/*********************NAVBAR*************/
nav {
    width: 100%;
    height: 100px;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    width: 50%;
}

.navbar-links {
    width: 50%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #c7c7c7;
    text-transform: uppercase;
}
