.bg-white{
    background-color: #ffffff;
}
.mainColor {color:#7cc576;}
.white {color:#ffffff;}
.black {color:#222222;}
.grey {color:#777777;}
.lightGrey {color:#c7c7c7;}
.btn-style{
    color:#ffffff;
    padding: 15px 20px;
    background-color: #7cc576;
    border: 1px solid #7cc576;
    border-radius: 25px;
    font-size: 15px;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    -ms-transition: 0.7s;
    transition: 0.7s;
    cursor: pointer;
}
.btn-style:hover{
    color:#222222;
    background-color:#ffffff;
    border: 1px solid #ffffff;
}
.section-margin{
    margin-top: 70px;
    margin-bottom: 70px;
}
.section-title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #222222;
}
.section-subtitle{
    color: #777777;
    margin: 0;
}
/*$white: #ffffff;*/
/*$black: #222222;*/
/*$grey: #777777;*/
/*$lightGrey: #c7c7c7;*/